.timer-display {
  border: 20px solid blue;
  border-radius: 50px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  background-color: black;
}
