.timer-display {
  border: 20px solid blue;
  border-radius: 50px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  background-color: black;
  .points-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .point {
      height: 20px;
      width: 20px;
      background-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
